<div class="header-space">
</div>


<div class="container">
    	<div clas="col-12">
    		<div class="module white-back static row">
    			<div class="title reserva col-12">
    			  <h5>Facturas</h5>
    			</div>
    			<div class="col-12 text-center">
	    		    <pagination-controls (pageChange)="p = $event" previousLabel="Previo" nextLabel="Siguiente"></pagination-controls>
	    		</div>

				<ul class="col-12 items-list">
					<li class="item">
						<div class="col-12 row">
							<div class="col-sm-3 col-6">
								<p>Cliente
								</p>
							</div>
							<div class="col-sm-2 d-none d-sm-block text-center">
								<p>Fecha</p>
							</div>
							<div class="col-sm-3 d-none d-sm-block text-center">
								<p>Estado</p>
							</div>
							<div class="col-sm-4 col-6 text-center">
								<p>
									Acciones
						        </p>
							</div>
						</div>
					</li>
					<li *ngFor="let factura of facturas | paginate: { itemsPerPage: 10, currentPage: p }; index as i;" 
						class="item" 
						[class.odd]="i%2==0">
						<div class="col-12 row">
							<div class="col-sm-3 col-6">
								<p *ngIf="factura.nombreUserReserva">
									{{factura.nombreUserReserva +' '+factura.primerApellidoUserReserva + ' '+factura.segundoApellidoUserReserva}}
								</p>
								<p *ngIf="!factura.nombreUserReserva">
									Factura sin cliente asignado
								</p>
							</div>
							<div class="col-sm-2 d-none d-sm-block text-center">
								<p>
									{{factura.fecha | date: 'dd/MM/yyyy'}}
								</p>
							</div>
							<div class="col-sm-3 d-none d-sm-block text-center">
								<p *ngIf="factura.estado == 'R'">
									Rechazada
								</p>
								<p *ngIf="factura.estado == 'P'">
									Completada
								</p>
                <p *ngIf="factura.estado == 'E'">
                  Enviado
                </p>
							</div>
							<div class="col-sm-4 col-6 text-center" style="padding-top: 4px;">
								<button (click)="selectedFactura = factura; openModal(facturaModal)" class="btn btn-info">
									<i class="fa fa-expand" aria-hidden="true"></i> Ver
								</button>
								<button (click)="selectedFactura = factura; openModalPrint(print)" class="btn btn-success">
									<i class="fa fa-print" aria-hidden="true"></i> Imprimir
								</button>
              <!--  <button (click)="obtenerInfoUsuario(factura.idUsuarioReserva)" *ngIf="factura.estado == 'E'" class="btn btn-warning">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Reenviar
                </button>-->
                 <button *ngIf="factura.estado == 'P'" (click)="obtenerInfoUsuario(factura.idUsuarioReserva)"  class="btn btn-danger">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Eliminar
                </button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
</div>




<div class="cargando" *ngIf="cargando">
  <div>
    <img src="assets/images/m2.png">
    Cargando...
  </div>
</div>

<template #facturaModal>
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Factura</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
    <div class="modal-body container">
    	<ul class="row">
          <li class="col-5"><span>Barberia : </span></li>
          <li class="col-7"><span>{{sucursal.descripcion}}</span></li>
          <li class="col-5"><span>Creado Por : </span></li>
          <li class="col-7"><span>{{selectedFactura.nombreBarbero}} {{selectedFactura.primerApellidoBarbero}}</span></li>
           <li class="col-5" *ngIf="authService.isBarberoUser() || authService.isAdminSucursalUser()"><span>Cliente : </span></li>
          <li class="col-7" *ngIf="authService.isBarberoUser() || authService.isAdminSucursalUser()"><span>{{selectedFactura.nombreUserReserva}} {{selectedFactura.primerApellidoUserReserva}}</span></li>
    
          <li class="col-5"><span>Fecha : </span></li>
          <li class="col-7"><span>{{selectedFactura.fecha | date: 'dd/MM/yyyy'}}</span></li>
         <!-- <li class="col-5"><span>Hora : </span></li>
          <li class="col-7"><span>{{convierteTiempo(selectedFactura.horaInicialFormat)}}</span></li>-->
         <li class="col-5"><span>Estado Factura : </span></li>
            <li class="col-7">
              <span *ngIf="selectedFactura.estado=='R'">Registrado</span> 
              <span *ngIf="selectedFactura.estado=='P'">Pagada</span>
            </li>
         
          <li class="col-5"><span>Tipo Pago : </span></li>
            <li class="col-7">
              <span *ngIf="selectedFactura.tipoTransaccion=='01'">Efectivo</span> 
              <span *ngIf="selectedFactura.tipoTransaccion=='02'">Tarjeta</span>
              <span *ngIf="selectedFactura.tipoTransaccion=='04'">Transferencia</span>
            </li>
        <li class="col-5"  *ngIf="selectedFactura.tipoTransaccion=='02'"><span>Comprobante : </span></li>
          <li class="col-7" *ngIf="selectedFactura.tipoTransaccion=='02'">
            <span>{{selectedFactura.numComprobante}}</span>
          </li>
          <li class="col-5"><span>Detalle Factura : </span></li>
          <li class="col-7">
            <span>{{selectedFactura.detalle}}</span>
          </li>
          <ul class="col-12 items-list">
            <li class="item">
              <div class="col-12 row">
                <div class="col-sm-6 col-6">
                  <p>Servicio
                  </p>
                </div>
                 <div class="col-sm-2">
                  <p>Duración
                  </p>
                </div>
                <div class="col-sm-4 d-none d-sm-block text-center">
                  <p>Precio</p>
                </div>
              </div>
            </li>

         <li *ngFor="let factura of selectedFactura.detalleFactura; index as i;" class="item"  [class.odd]="i%2==0">
            <div class="col-12 row">
              <div class="col-sm-6 col-6">
                  {{factura.producto}}
              </div>
                <div class="col-sm-2 col-6">
                  {{convertMinsToHrsMins(factura.duracion)}}
              </div>
              <div class="col-sm-4 d-none d-sm-block text-center">
                <p>
                  {{factura.precio}}
                </p>
              </div>
            </div>
          </li>
        </ul>



         
        </ul>
    </div>

 </template>


<ng-template #print>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="text-transform: capitalize;">Imprimir</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="printRefCompletar.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="text-center">
  		<p>Seleccione el tipo de factura a imprimir</p>
  	</div>
    <div class="col-12">
    	<div class="row" style="padding-bottom: 35px;">
    		<div class="col-5 card" (click)="imprimir('pdv')">
    			<p class="text-center">
    				Impresora punto de venta.
    			</p>
    			<p class="text-center">
    				<img src="assets/pdv.png" style="width: 178px;">
    			</p>
    		</div>
    		<div class="col-5 offset-2 card" (click)="imprimir('A4')">
    			<p class="text-center">
    				Hoja A4
    			</p>
    			<p class="text-center">
    				<img src="assets/a4.jpg" style="width: 131px;">
    			</p>
    		</div>

         <!-- <div class="col-5 offset-2 card" (click)="actualizarBasePF()">
            <p class="text-center">
              revizar
            </p>
          </div>-->
    	</div>
    </div>
  </div>
</ng-template>



<ng-template #eliminarPop>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="text-transform: capitalize;" *ngIf="isNota">Eliminar Factura</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefEliminar.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 confirmar-items">
      <div class="row">
        <div class="col-3">
          Razón
        </div>
        <div class="col-9">
          <input type="text" [(ngModel)]="infoRefeRazon" name="razon" class="form-control"> 
        </div>
      </div>
    <div>
      <button type="submit" class="btn btn-danger" [disabled]="factura.infoRefeRazon == ''" (click)="isEliminar=true;completarNota(agotadosPop);" [disabled]="enviandoMH" *ngIf="factura.estado != 'enviada'">
        <span *ngIf="!enviandoMH">Eliminar</span>
        <span *ngIf="enviandoMH">Enviando...</span>
      </button>
    </div>
    <div *ngIf="enviandoMH" class="enviando">
      <div class="comp">
        <i class="fa fa-laptop" aria-hidden="true"></i>
      </div>
      <div class="fact">
        <i class="fa fa-file-code-o" aria-hidden="true"></i>
      </div>
      <div class="mh">
        <i class="fa fa-university" aria-hidden="true"></i>
      </div>
    </div>
    </div>
  </div>
</ng-template>
