<div class="header-space">
</div>


<div class="container">
	<div clas="col-12">
		<div class="module white-back static row">
			<div class="title reserva col-12">
			  <h5>Agregar Cliente</h5>
			</div>
			<div class="row col-12">
				<div class="col-4">
					<label>Usuario<span class="required" [class.reqerror]="validatorService.hasError('usuario',usuarioErrores)">*</span></label>
				</div>
				<div class="col-8">
					<input type="text" name="usuario" [(ngModel)]="nuevoUsuario.usuario" 
					[class.error-input]="validatorService.hasError('usuario',usuarioErrores)" placeholder="juan1990">
				</div>
				<div class="col-4">
					<label>Nombre<span class="required" [class.reqerror]="validatorService.hasError('nombre',usuarioErrores)">*</span></label>
				</div>
				<div class="col-8">
					<input type="text" name="nombre" [(ngModel)]="nuevoUsuario.nombre" [class.error-input]="validatorService.hasError('nombre',usuarioErrores)" placeholder="Juan">
				</div>
				<div class="col-4">
					<label>Apellido 1<span class="required" [class.reqerror]="validatorService.hasError('apellido1',usuarioErrores)">*</span></label>
				</div>
				<div class="col-8">
					<input type="text" name="primerApellido" [(ngModel)]="nuevoUsuario.apellido1" [class.error-input]="validatorService.hasError('apellido1',usuarioErrores)" placeholder="Perez">
				</div>
				<div class="col-4">
					<label>Apellido 2</label>
				</div>
				<div class="col-8">
					<input type="text" name="segundoApellido" [(ngModel)]="nuevoUsuario.apellido2" [class.error-input]="validatorService.hasError('apellido2',usuarioErrores)" placeholder="Lopez">
				</div>
				<div class="col-4">
					<label>Correo<span class="required" [class.reqerror]="validatorService.hasError('correo',usuarioErrores)">*</span></label>
				</div>
				<div class="col-8 correos">
					<div class="row">
						<div class="col-12 nuevo-numero">
							<input type="text" [(ngModel)]="nuevoCorreo" [class.error-input]="validatorService.hasError('correo',usuarioErrores)"> <span class="small-action" (click)="addCorreo()"> + </span>
						</div>
						<div class="col-12 correo-display contact-item" *ngFor="let correo of nuevoUsuario.correo">
							<span class="display">{{correo.correo}} </span>
							<span class="small-action" (click)="removeCorreo(correo)"> - </span> 
						</div>

					</div>
				</div>
				<div class="col-4">
					<label>Telefono<span class="required" [class.reqerror]="validatorService.hasError('telefono',usuarioErrores)">*</span></label>
				</div>
				<div class="col-8 telefonos">
					<div class="row">
						<div class="col-12 nuevo-numero">
							<input type="number" [(ngModel)]="nuevoTelefono" [class.error-input]="validatorService.hasError('telefono',usuarioErrores)"> <span class="small-action" (click)="addTelefono()"> + </span>
						</div>
						<div class="col-12 contact-item" *ngFor="let telefono of nuevoUsuario.telefono">
							<span class="telefono-display">{{telefono.telefono}} </span>
							<span class="small-action" (click)="removeTelefono(telefono)"> - </span> 
						</div>
					</div>
				</div>
				<div class="col-12 entrar">
					<button type="button" class="btn btn-primary" (click)="newUser()">
						Registrar
					</button>
				</div>
				<div class="col-12" *ngIf="nuevoUsuarioError" style="color:red;">
					{{authService.errorDisplay}}
				</div>
				<div class="col-12" *ngIf="validationError" style="color:red;">
					{{validationErrorMsg}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cargando" *ngIf="cargando">
  <div>
    <img src="assets/images/m2.png">
    Cargando...
  </div>
</div>
